<marquee>
  <h1>HOLA MUNDO</h1>
</marquee>

<hr/>

<!--Plantillas-->

En una plantilla colocamos el contenido estático directamente con HTML
<br/><br/>

<!--Expresiones-->

<b>Expresiones:</b><br/>
Las usamos cuando queremos añadir el valor de una variable directamente en un nodo de texto<br>

<h2>{{ 100+200 }}</h2>

<h2>{{ "Movida"+" gordísima"}}</h2>

<h2>{{ 500 > 250 }}</h2>

<!--
Una expresión que no incluya una variable es absurda

Las variables utilizadas en las expresiones normalmente estarán declaradas en el componente
(como un atributo de la clase)
También se podrán declarar en la propia plantilla
-->

<h2>
  <font color="lightGreen">
    {{ mensaje }}
  </font>
</h2>
<h2>
  <font color="lightBlue">
    {{ numero1 + numero2 }}
  </font>
</h2>

<hr/>

<b>Bidirectional binding</b>

<!--
Eventos:

(nombre_evento)="llamada_a_la_función()"

-->
<div>
  <button (click)="insertarDisco()">Insertar</button>
  <button>Vaciar</button>
</div>

<table>
  <tr>
    <td>Título</td>
    <td>
      <input type="text" [(ngModel)]="disco.titulo"/>
    </td>
  </tr>
  <tr>
    <td>Grupo</td>
    <td>
      <input type="text" [(ngModel)]="disco.grupo"/>
    </td>
  </tr>
  <tr>
    <td>Año</td>
    <td>
      <input type="text" [(ngModel)]="disco.year"/>
    </td>
  </tr>
</table>

<table border="1">
  <tr>
    <th>Título</th>
    <th>Grupo</th>
    <th>Año</th>
  </tr>
</table>


