<marquee>
  <h1>HOLA MUNDO</h1>
</marquee>

<hr/>

<!--Plantillas-->

En una plantilla colocamos el contenido estático directamente con HTML
<br/><br/>

<!--Expresiones-->

<b>Expresiones:</b><br/>
Las usamos cuando queremos añadir el valor de una variable directamente en un nodo de texto<br>

<h2>{{ 100+200 }}</h2>

<h2>{{ "Movida"+" gordísima"}}</h2>

<h2>{{ 500 > 250 }}</h2>

<!--
Una expresión que no incluya una variable es absurda

Las variables utilizadas en las expresiones normalmente estarán declaradas en el componente
(como un atributo de la clase)
También se podrán declarar en la propia plantilla
-->

<h2>
  <font color="lightGreen">
    {{ mensaje }}
  </font>
</h2>
<h2>
  <font color="lightBlue">
    {{ numero1 + numero2 }}
  </font>
</h2>

<hr/>

<b>Bidirectional binding</b>

<!--
Eventos:

(nombre_evento)="llamada_a_la_función()"
-->
<div>
  <button (click)="insertarDisco()">Insertar</button>
  <button (click)="vaciarFormulario()">Vaciar</button>
</div>

<table>
  <tr>
    <td>Título</td>
    <td>
      <!--
      Con [(ngModel)] asociamos el value de un elemento
      de la plantilla con una propiedad del componente
      Para que funcione debemos dar de alta el FormsModule
      en el AppModule.ts
      -->
      <input type="text" [(ngModel)]="disco.titulo"/>
    </td>
  </tr>
  <tr>
    <td>Grupo</td>
    <td>
      <input type="text" [(ngModel)]="disco.grupo"/>
    </td>
  </tr>
  <tr>
    <td>Año</td>
    <td>
      <input type="text" [(ngModel)]="disco.year"/>
    </td>
  </tr>
</table>

<table border="1">
  <tr>
    <th>Título</th>
    <th>Grupo</th>
    <th>Año</th>
  </tr>
  <!--
  *ngFor repite una etiqueta tantas veces como elmentos haya en un array
  El array será una propiedad del componente
  -->
  <tr *ngFor="let d of discos">
    <td>{{d.titulo}}</td>
    <td>{{d.grupo}}</td>
    <td>{{d.year}}</td>
  </tr>

  <!--
  la etiqueta que incluya *ngIf aparecerá o no dependiendo
  del resultado de evaluar la expresión booleana
  -->
  <tr *ngIf="discos.length==0">
    <td colspan="3">
      No hay discos en la tabla
    </td>
  </tr>
</table>

<hr/>

<button (click)="estiloNormal()">Normal</button>
<button (click)="estiloError()">Error</button>

<!--
Si queremos que el 'class' de una etiqueta dependa de una propiedad del componente
utilizamos [ngClass]="propiedad"
-->
<h1 [ngClass]="estilo">HOLA</h1>


