<h3 class="text-center mt-3 mb-3">
    Formulario Perfil de Usuarios
</h3>

<br/>
<div *ngIf="mensaje" class="alert alert-success">{{mensaje}}</div> <!--le if pregunta si existe o no en el caso que no tenga udenfined-->
<div *ngIf="mensajeError" class="alert alert-danger">{{mensajeError}}</div> 
<!--COMENTARIO DE LO VBASICO DEFINIDO ANTERIORMENTE
no es necesario con formualrios reactivos

    <div *ngIf="error" class="alert alert-danger">
        <strong>¡Error!</strong> {{error}}
    </div>
    <div *ngIf="mensaje"class="alert alert-success alert-dismissible fade show">
        {{mensaje}}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
------
    -Este form jamas hara submit
    -Unimos el formualrio con el formGroup del cpompo cpn [formGroup]

-->

<form class="row" [formGroup]="formulario">
    <div class="col-sm-12 col-md-2 mt-1">
        <label for="nombre">Nombre</label>
    </div>

    <div class="col-sm-12 col-md-10 mt-1">
        <!-- 
            Los elementos que queramos unir al objeto formGrtoup los marcamos con formControlName
        -->
        <input id="nombre" formControlName="nombre" class="form-control"/>
        
        <div *ngIf="(formulario.get('nombre').dirty || formulario.get('nombre').touched)">
            <small class="text-danger"
                *ngIf="formulario.get('nombre').hasError('required')">
                Campo obligatorio.
            </small>

            <small class="text-danger"
                *ngIf="formulario.get('nombre').hasError('minLength')">
                Longitud minima es 3 en Adelantecaracteres.
            </small>
        </div>

    </div>
    
    <div class="col-sm-12 col-md-2 mt-1">
        <label for="pw">Password</label>
    </div>

    <div class="col-sm-12 col-md-10 mt-1">
        <input id="pw" formControlName="pw" class="form-control"/>

        <div *ngIf="(formulario.get('pw').dirty || formulario.get('pw').touched)">
            <small class="text-danger"
                *ngIf="formulario.get('pw').hasError('required')">
                Campo obligatorio. Introduzca un Password
            </small>

            <small class="text-danger"
                *ngIf="formulario.get('pw').hasError('minLength')">
                Longitud minima es 3 en Adelante caracteres.
            </small>
        </div>

    </div>                 
    
    <div class="col-sm-12 col-md-2 mt-1">
        <label for="idioma">Idioma</label>
    </div>

    <div class="col-sm-12 col-md-10 mt-1">
       <select formControlName="idioma" class="form-control">
            <option>ES</option>
            <option>EN</option>
       </select>
     
    </div>
    
    <div class="col-sm-12 col-md-2 mt-1">
        <label for="correoE">Correo Electronico</label>
    </div>

    <div class="col-sm-12 col-md-10 mt-1">
        <input id="correoE" formControlName="correoE" class="form-control"/>
        
        <div *ngIf="(formulario.get('correoE').dirty || formulario.get('correoE').touched)">
            <small class="text-danger"
                *ngIf="formulario.get('correoE').hasError('required')">
                Campo obligatorio.
            </small>

            <small class="text-danger"
                *ngIf="formulario.get('correoE').hasError('email')">
                No es un Correo Electronic Correcto
            </small>
        </div>
    </div>    

    <div class="col-sm-12 col-md-2 mt-1">
        <label for="telefono">Telefono</label>
    </div>

    <div class="col-sm-12 col-md-10 mt-1">
        <input id="telefono" formControlName="telefono" class="form-control">
    </div>

    <div class="col-sm-12 col-md-2 mt-1">
        <label for="direccion">Direccion</label>
    </div>

    <div class="col-sm-12 col-md-10 mt-1">
        <input id="direccion" formControlName="direccion" class="form-control">
    </div>
</form>  

<div class="text-center"> 
    <button class="btn btn-primary mr-1" (click)="guardarUsuarios()">Guardar</button>
  <!--  <button class="btn btn-primary mr-1" (click)="modificarUsuario()">Modificar</button>
    <button class="btn btn-danger  mr-1" (click)="borrarUsuarios()">Borrar</button>
    <button class="btn btn-warning mr-1" (click)="vaciarFormulario()">Vaciar</button>-->
    <button class="btn btn-warning mr-1" routerLink="/usuarios(">Volver</button>
</div>


