
<div class="text-center mt-2 mb-2">
    <button class="btn btn-primary mr-1" id="btnInsertar" routerLink="/incidencias/formularioIncidencias">Nuevo</button>
    <button class="btn btn-primary mr-1" id="btnRefrescar" (click)="listarIncidencias()">Refrescar</button>
</div>

<table class="table table-striped table-hover mt-4">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Empleado</th>
            <th>Descripcion</th>
            <th>Prioridad</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody id="tablaTareas">
        <tr *ngFor="let incidencia of incidencias">
            <td>{{incidencia.nombre}}</td>
            <td>{{incidencia.usuario.nombre}}</td>
            <td>{{incidencia.descripcion.substring(0, 25)}}...</td>
            <td>{{incidencia.prioridad}}</td>
            <td>{{incidencia.estado}}</td>
        </tr>
    </tbody>
</table>
   
