
<div class="text-center mt-2 mb-2">
    <button class="btn btn-primary mr-1" id="btnInsertar"  (click)="insertar()">Insertar</button>
    <button class="btn btn-primary mr-1" id="btnModificar" >Modificar</button>
    <button class="btn btn-danger  mr-1" id="btnBorrar"    >Borrar</button>
    <button class="btn btn-warning mr-1" id="btnVaciar"    (click)="vaciar()">Vaciar</button>
    <button class="btn btn-warning mr-1" id="btnVolver"    routerLink="/incidencias/listadoIncidencias">Volver</button>
</div>

<div *ngIf="mensajes.length>0" class="alert alert-danger">
    <ul>
        <li *ngFor="let mensaje of mensajes">{{mensaje}}</li>
    </ul>
</div>

<div class="row" id="formulario">  

    <div class="col-2 mt-1">
        <label for="nombre">Nombre</label>
    </div>
    <div class="col-10 mt-1">
        <input type="text" class="form-control" id="nombre" [(ngModel)]="incidencia.nombre"/>
    </div>

    <div class="col-2 mt-1">
        <label for="idUsuario">Empleado</label>
    </div>
    <div class="col-10 mt-1">
        <select class="form-control" id="idUsuario" [(ngModel)]="incidencia.usuario">
            <option value="">Seleccione...</option>
            <!--Los objetos de este array vienen de la coleccion 'usuarios' en Realm (custom_user_data)-->
            <option *ngFor="let e of listaEmpleados" [ngValue]="e">{{e.nombre}}</option>
        </select>
    </div>
    <div class="col-2 mt-1">
        <label>Descripción</label>
    </div>
    <div class="col-10 mt-1">
        <textarea class="form-control" id="descripcion" [(ngModel)]="incidencia.descripcion"></textarea>
    </div>

    <div class="col-2 mt-1">
        <label>Prioridad</label>
    </div>
    <div class="col-10 mt-1">
        <input type="text" class="form-control" id="prioridad" [(ngModel)]="incidencia.prioridad"/>
    </div>

    <div class="col-2 mt-1">
        <label>Fecha</label>
    </div>
    <div class="col-10 mt-1">
        <input type="text" class="form-control" id="fecha" [(ngModel)]="incidencia.fecha"/>
    </div>
    
    <div class="col-2 mt-1">
        <label>Estado</label>
    </div>
    <div class="col-10 mt-1">
        <select class="form-control" id="estado" [(ngModel)]="incidencia.estado">
            <option>PENDIENTE</option>
            <option>EN PROCESO</option>
            <option>FINALIZADA</option>
        </select>
    </div>                 
</div>         
