

<div class="card card-primary">
    <div class="card-header">Formulario</div>
        <div class="card-body">

        <div class="form-horizontal" id="formulario">
            <div class="form-group">
                <label class="control-label col-xs-2" for="login">Dato</label>
                <div class="col-xs-10">
                    <input id="dato" type="text" [(ngModel)]="nombre" class="form-control"/>
                </div>
            </div>   
        </div>  

    </div> <!--formulario-->

    <div class="text-center">
        <input type="button" class="btn mb-4 btn-primary" style="width:110px" (click)="guardar()" value="Guardar" />
    </div>   

</div>

