<h2 class="text-center">Cesta</h2>
<!--
    para prbar que sale la iformacion en panrtall 
    <table align="center" border="1">
    <tr>
        <th>Producto</th>
        <th>Precio</th>
        <th>Cantidad</th>
        <th>Total</th>
    </tr>
    <tr *ngFor='let dp of cesta.detalles'>
        <td>{{dp.producto.nombre}}</td>
        <td>{{dp.precio}}</td>
        <td>{{dp.cantidad}}</td>
        <td>{{dp.cantidad * dp.precio}}</td>
    </tr>

    </table>
-->


<div *ngFor='let dp of cesta.detalles'>
    <app-detallePedido [detalle]='dp'></app-detallePedido>
</div>

<div *ngIf="cesta.detalles.length==0">
    <h2 class="text-center">No hay productos en la cesta</h2>
</div>


<div class="d-flex justify-content-center mt-4 mb-4">
    <h4>
        Total {{ cesta.total }} €
        <input type="button" value="Guardar" class="btn btn-primary ml-2" style="width:110px"/>
        <button class="btn btn-primary ml-2">Comprar</button>
        <button class="btn btn-danger ml-2">Vaciar</button>
    </h4>
</div> 